.carrito {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .carritoTittle {
    display: flex;
    font-size: 2rem;
    text-align: center;
    color: var(--quinary);
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--quinary);
  }
  
  .boton {
    margin: 10px;
    padding: 10px;
    background-color: var(--primary);
    color: var(--quinary);
    border-radius: 5px;
    border: 2px solid var(--quinary);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
  }

  .productos {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--primary);
    border: 2px solid var(--quinary);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;

  }
  
  .productContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    color: var(--quinary);
    border-radius: 5px;
    border: 2px solid var(--quinary);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;

  }

  .enlace{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--quinary);
    margin: 0 auto;
    padding: 10px;
    

  }