.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100px; 
    background-color: var(--primary);
    color: var(--quinary);
    border-radius: 3px;
    margin: 5px auto;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: 2px solid var(--quinary);
  }

    .form:hover {
        background-color: var(--quinary);
        color: var(--primary);
    }
    .form1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    .carrito{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        color: var(--quinary);

    }